body {
	background-color: #0a273d;
	background-image: linear-gradient(135deg, #0a2133 0%, #234d70 100%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background: #f8fafc;
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
	height: 105px;
	width: 400px;
	border-radius: 20px;
	padding: 28px 32px;
	overflow: hidden;
	transition: 0.5s ease-out;
}

.search-box {
	width: 100%;
	height: min-content;
	display: flex;
	align-items: center;
	justify-content: space-between;

	input {
		color: #234d70;
		background: #fff;
		border-radius: 10px;
		width: 80%;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
		padding-left: 32px;
		border: none;

		&::placeholder {
			font-size: 19px;
			text-transform: capitalize;
		}

		&:focus {
			border: none;
			outline: none;
		}
	}

	button {
		background: #cbecf9;
		cursor: pointer;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: none;
		transition: 0.4s ease;
		font-size: 20px;

		&:hover {
			color: #f8fafc;
			background: #0a273d;
		}
	}

	.location {
		position: absolute;
		font-size: 25px;
		color: #0a273d;
	}
}

.weather-box {
	text-align: center;

	img {
		width: 60%;
		margin-top: 30px;
	}

	.temperature {
		position: relative;
		color: #0a273d;
		font-size: 4rem;
		font-weight: 800;
		margin-top: 30px;
		margin-left: -16px;

		span {
			position: absolute;
			margin-left: 4px;
			font-size: 1.5rem;
		}
	}

	.description {
		color: #0a273d;
		font-size: 22px;
		font-weight: 500;
		text-transform: capitalize;
	}
}

.weather-details {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

	.humidity,
	.wind {
		display: flex;
		align-items: center;
		width: 50%;
		height: 100px;
	}

	.humidity {
		padding-left: 20px;
		justify-content: flex-start;
	}

	.wind {
		padding-right: 20px;
		justify-content: flex-end;
	}

	.details-icon {
		color: #0a273d;
		font-size: 26px;
		margin-right: 10px;
	}

	span {
		color: #0a273d;
		font-size: 22px;
	}

	p {
		font-size: 14px;
	}
}

// -------------------

.not-found {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	scale: 0;
	opacity: 0;
	display: none;

	> img {
		width: 50%;
	}

	p {
		font-size: 20px;
		margin-top: 10px;
	}
}

.weather-box,
.weather-details {
	scale: 0;
	opacity: 0;
}

.fadeIn {
	animation: 0.5s fadeIn forwards;
	animation-delay: 0.5s;
}

@keyframes fadeIn {
	to {
		scale: 1;
		opacity: 1;
	}
}

footer {
	position: absolute;
	bottom: 5px;
	color: #0a2133;

	a {
		letter-spacing: 5px;
		text-transform: uppercase;
		font-size: 10px;
		transition: 0.4s ease;
    
		&:hover {
			color: #f8fafc;
			transition: 0.4s ease;
		}
	}
}
