body{
  background: #0a273d;
  color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background: #f8fafc;
  height: 60%;
  width: 400px;
  border-radius: 20px;
}

